
<%@ page import="com.myapp.CustomerOrderProduct" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'customerOrderProduct.label', default: 'CustomerOrderProduct')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-customerOrderProduct" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-customerOrderProduct" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list customerOrderProduct">
			
				<g:if test="${customerOrderProductInstance?.customerOrder}">
				<li class="fieldcontain">
					<span id="customerOrder-label" class="property-label"><g:message code="customerOrderProduct.customerOrder.label" default="Customer Order" /></span>
					
						<span class="property-value" aria-labelledby="customerOrder-label"><g:link controller="customerOrder" action="show" id="${customerOrderProductInstance?.customerOrder?.id}">${customerOrderProductInstance?.customerOrder?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerOrderProductInstance?.howMany}">
				<li class="fieldcontain">
					<span id="howMany-label" class="property-label"><g:message code="customerOrderProduct.howMany.label" default="How Many" /></span>
					
						<span class="property-value" aria-labelledby="howMany-label"><g:fieldValue bean="${customerOrderProductInstance}" field="howMany"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerOrderProductInstance?.product}">
				<li class="fieldcontain">
					<span id="product-label" class="property-label"><g:message code="customerOrderProduct.product.label" default="Product" /></span>
					
						<span class="property-value" aria-labelledby="product-label"><g:link controller="product" action="show" id="${customerOrderProductInstance?.product?.id}">${customerOrderProductInstance?.product?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form>
				<fieldset class="buttons">
					<g:hiddenField name="id" value="${customerOrderProductInstance?.id}" />
					<g:link class="edit" action="edit" id="${customerOrderProductInstance?.id}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
